<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>ae-arab</key>
  <string>ae-arab.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ain-arab</key>
  <string>ain-arab.glif</string>
  <key>ain-arab.fina</key>
  <string>ain-arab.fina.glif</string>
  <key>ain-arab.init</key>
  <string>ain-arab.init.glif</string>
  <key>ain-arab.medi</key>
  <string>ain-arab.medi.glif</string>
  <key>alef-arab</key>
  <string>alef-arab.glif</string>
  <key>alef-arab.fina</key>
  <string>alef-arab.fina.glif</string>
  <key>alef-arab.isol</key>
  <string>alef-arab.isol.glif</string>
  <key>alefcomb-arab</key>
  <string>alefcomb-arab.glif</string>
  <key>alefhamzaabove-arab</key>
  <string>alefhamzaabove-arab.glif</string>
  <key>alefhamzaabove-arab.fina</key>
  <string>alefhamzaabove-arab.fina.glif</string>
  <key>alefhamzabelow-arab</key>
  <string>alefhamzabelow-arab.glif</string>
  <key>alefhamzabelow-arab.fina</key>
  <string>alefhamzabelow-arab.fina.glif</string>
  <key>alefmaddaabove-arab</key>
  <string>alefmaddaabove-arab.glif</string>
  <key>alefmaddaabove-arab.fina</key>
  <string>alefmaddaabove-arab.fina.glif</string>
  <key>alefmaksura-arab</key>
  <string>alefmaksura-arab.glif</string>
  <key>alefmaksura-arab.isol</key>
  <string>alefmaksura-arab.isol.glif</string>
  <key>alefmaksuraalef-arab.isol</key>
  <string>alefmaksuraalef-arab.isol.glif</string>
  <key>alefwavyhamzaabove-arab</key>
  <string>alefwavyhamzaabove-arab.glif</string>
  <key>alefwavyhamzaabove-arab.fina</key>
  <string>alefwavyhamzaabove-arab.fina.glif</string>
  <key>alefwavyhamzabelow-arab</key>
  <string>alefwavyhamzabelow-arab.glif</string>
  <key>alefwavyhamzabelow-arab.fina</key>
  <string>alefwavyhamzabelow-arab.fina.glif</string>
  <key>allah-arab.isol</key>
  <string>allah-arab.isol.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>arabicalefcomb</key>
  <string>arabicalefcomb.glif</string>
  <key>arabiccomma</key>
  <string>arabiccomma.glif</string>
  <key>arabicdammacomb</key>
  <string>arabicdammacomb.glif</string>
  <key>arabicdammatancomb</key>
  <string>arabicdammatancomb.glif</string>
  <key>arabicfathacomb</key>
  <string>arabicfathacomb.glif</string>
  <key>arabicfathatancomb</key>
  <string>arabicfathatancomb.glif</string>
  <key>arabichamzabelowcomb</key>
  <string>arabichamzabelowcomb.glif</string>
  <key>arabichamzacomb</key>
  <string>arabichamzacomb.glif</string>
  <key>arabicindiceight-arab</key>
  <string>arabicindiceight-arab.glif</string>
  <key>arabicindicfive-arab</key>
  <string>arabicindicfive-arab.glif</string>
  <key>arabicindicfour-arab</key>
  <string>arabicindicfour-arab.glif</string>
  <key>arabicindicnine-arab</key>
  <string>arabicindicnine-arab.glif</string>
  <key>arabicindicone-arab</key>
  <string>arabicindicone-arab.glif</string>
  <key>arabicindicseven-arab</key>
  <string>arabicindicseven-arab.glif</string>
  <key>arabicindicsix-arab</key>
  <string>arabicindicsix-arab.glif</string>
  <key>arabicindicthree-arab</key>
  <string>arabicindicthree-arab.glif</string>
  <key>arabicindictwo-arab</key>
  <string>arabicindictwo-arab.glif</string>
  <key>arabicindiczero-arab</key>
  <string>arabicindiczero-arab.glif</string>
  <key>arabickasracomb</key>
  <string>arabickasracomb.glif</string>
  <key>arabickasratancomb</key>
  <string>arabickasratancomb.glif</string>
  <key>arabicmaddahcomb</key>
  <string>arabicmaddahcomb.glif</string>
  <key>arabicquestionmark</key>
  <string>arabicquestionmark.glif</string>
  <key>arabicsemicolon</key>
  <string>arabicsemicolon.glif</string>
  <key>arabicshaddacomb</key>
  <string>arabicshaddacomb.glif</string>
  <key>arabicshaddacomb_arabicfathatancomb.ccmp</key>
  <string>arabicshaddacomb_arabicfathatancomb.ccmp.glif</string>
  <key>arabicsukuncomb</key>
  <string>arabicsukuncomb.glif</string>
  <key>arabictatweelmod</key>
  <string>arabictatweelmod.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>beh-arab</key>
  <string>beh-arab.glif</string>
  <key>beh-arab.fina</key>
  <string>beh-arab.fina.glif</string>
  <key>beh-arab.init</key>
  <string>beh-arab.init.glif</string>
  <key>beh-arab.medi</key>
  <string>beh-arab.medi.glif</string>
  <key>blackcircle</key>
  <string>blackcircle.glif</string>
  <key>blacksmallsquare</key>
  <string>blacksmallsquare.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflexmod</key>
  <string>circumflexmod.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dad-arab</key>
  <string>dad-arab.glif</string>
  <key>dad-arab.fina</key>
  <string>dad-arab.fina.glif</string>
  <key>dad-arab.init</key>
  <string>dad-arab.init.glif</string>
  <key>dad-arab.medi</key>
  <string>dad-arab.medi.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dal-arab</key>
  <string>dal-arab.glif</string>
  <key>dal-arab.fina</key>
  <string>dal-arab.fina.glif</string>
  <key>damma-arab.medi</key>
  <string>damma-arab.medi.glif</string>
  <key>dateseparator-arab</key>
  <string>dateseparator-arab.glif</string>
  <key>decimalseparator-arab</key>
  <string>decimalseparator-arab.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotlessfeh-arab</key>
  <string>dotlessfeh-arab.glif</string>
  <key>dottedcircle</key>
  <string>dottedcircle.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>extendedarabicindiceight-arab</key>
  <string>extendedarabicindiceight-arab.glif</string>
  <key>extendedarabicindicfive-arab</key>
  <string>extendedarabicindicfive-arab.glif</string>
  <key>extendedarabicindicfour-arab</key>
  <string>extendedarabicindicfour-arab.glif</string>
  <key>extendedarabicindicnine-arab</key>
  <string>extendedarabicindicnine-arab.glif</string>
  <key>extendedarabicindicone-arab</key>
  <string>extendedarabicindicone-arab.glif</string>
  <key>extendedarabicindicseven-arab</key>
  <string>extendedarabicindicseven-arab.glif</string>
  <key>extendedarabicindicsix-arab</key>
  <string>extendedarabicindicsix-arab.glif</string>
  <key>extendedarabicindicthree-arab</key>
  <string>extendedarabicindicthree-arab.glif</string>
  <key>extendedarabicindictwo-arab</key>
  <string>extendedarabicindictwo-arab.glif</string>
  <key>extendedarabicindiczero-arab</key>
  <string>extendedarabicindiczero-arab.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>farsiyeh-arab</key>
  <string>farsiyeh-arab.glif</string>
  <key>farsiyeh-arab.fina</key>
  <string>farsiyeh-arab.fina.glif</string>
  <key>farsiyeh-arab.init</key>
  <string>farsiyeh-arab.init.glif</string>
  <key>farsiyeh-arab.medi</key>
  <string>farsiyeh-arab.medi.glif</string>
  <key>farsiyehinvertedv-arab</key>
  <string>farsiyehinvertedv-arab.glif</string>
  <key>fatha-arab.medi</key>
  <string>fatha-arab.medi.glif</string>
  <key>fathatan-arab.isol</key>
  <string>fathatan-arab.isol.glif</string>
  <key>feh-arab</key>
  <string>feh-arab.glif</string>
  <key>feh-arab.fina</key>
  <string>feh-arab.fina.glif</string>
  <key>feh-arab.init</key>
  <string>feh-arab.init.glif</string>
  <key>feh-arab.medi</key>
  <string>feh-arab.medi.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fivepointedstar-arab</key>
  <string>fivepointedstar-arab.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>fullstop-arab</key>
  <string>fullstop-arab.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gaf-arab</key>
  <string>gaf-arab.glif</string>
  <key>gaf-arab.fina</key>
  <string>gaf-arab.fina.glif</string>
  <key>gaf-arab.init</key>
  <string>gaf-arab.init.glif</string>
  <key>gaf-arab.isol</key>
  <string>gaf-arab.isol.glif</string>
  <key>gaf-arab.medi</key>
  <string>gaf-arab.medi.glif</string>
  <key>ghain-arab</key>
  <string>ghain-arab.glif</string>
  <key>ghain-arab.fina</key>
  <string>ghain-arab.fina.glif</string>
  <key>ghain-arab.init</key>
  <string>ghain-arab.init.glif</string>
  <key>ghain-arab.medi</key>
  <string>ghain-arab.medi.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hah-arab</key>
  <string>hah-arab.glif</string>
  <key>hah-arab.fina</key>
  <string>hah-arab.fina.glif</string>
  <key>hah-arab.init</key>
  <string>hah-arab.init.glif</string>
  <key>hah-arab.medi</key>
  <string>hah-arab.medi.glif</string>
  <key>hahhamzaabove-arab</key>
  <string>hahhamzaabove-arab.glif</string>
  <key>hahhamzaabove-arab.fina</key>
  <string>hahhamzaabove-arab.fina.glif</string>
  <key>hamza-arab</key>
  <string>hamza-arab.glif</string>
  <key>hamza-arab.isol</key>
  <string>hamza-arab.isol.glif</string>
  <key>heh-arab</key>
  <string>heh-arab.glif</string>
  <key>heh-arab.fina</key>
  <string>heh-arab.fina.glif</string>
  <key>heh-arab.init</key>
  <string>heh-arab.init.glif</string>
  <key>heh-arab.isol</key>
  <string>heh-arab.isol.glif</string>
  <key>heh-arab.medi</key>
  <string>heh-arab.medi.glif</string>
  <key>hehdoachashmee-arab</key>
  <string>hehdoachashmee-arab.glif</string>
  <key>hehdoachashmee-arab.fina</key>
  <string>hehdoachashmee-arab.fina.glif</string>
  <key>hehdoachashmee-arab.init</key>
  <string>hehdoachashmee-arab.init.glif</string>
  <key>hehdoachashmee-arab.medi</key>
  <string>hehdoachashmee-arab.medi.glif</string>
  <key>hehgoal-arab</key>
  <string>hehgoal-arab.glif</string>
  <key>hehgoal-arab.isol</key>
  <string>hehgoal-arab.isol.glif</string>
  <key>hehgoal-arab.medi</key>
  <string>hehgoal-arab.medi.glif</string>
  <key>hehgoalhamzaabove-arab</key>
  <string>hehgoalhamzaabove-arab.glif</string>
  <key>hehyehabove-arab</key>
  <string>hehyehabove-arab.glif</string>
  <key>hehyehabove-arab.fina</key>
  <string>hehyehabove-arab.fina.glif</string>
  <key>hehyehabove-arab.isol</key>
  <string>hehyehabove-arab.isol.glif</string>
  <key>highhamzaalef-arab</key>
  <string>highhamzaalef-arab.glif</string>
  <key>highhamzaalef-arab.fina</key>
  <string>highhamzaalef-arab.fina.glif</string>
  <key>highhamzawaw-arab</key>
  <string>highhamzawaw-arab.glif</string>
  <key>highhamzawaw-arab.fina</key>
  <string>highhamzawaw-arab.fina.glif</string>
  <key>highhamzayeh-arab</key>
  <string>highhamzayeh-arab.glif</string>
  <key>highhamzayeh-arab.fina</key>
  <string>highhamzayeh-arab.fina.glif</string>
  <key>hyphenminus</key>
  <string>hyphenminus.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jeem-arab</key>
  <string>jeem-arab.glif</string>
  <key>jeem-arab.fina</key>
  <string>jeem-arab.fina.glif</string>
  <key>jeem-arab.init</key>
  <string>jeem-arab.init.glif</string>
  <key>jeem-arab.medi</key>
  <string>jeem-arab.medi.glif</string>
  <key>jeh-arab</key>
  <string>jeh-arab.glif</string>
  <key>jeh-arab.fina</key>
  <string>jeh-arab.fina.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kaf-arab</key>
  <string>kaf-arab.glif</string>
  <key>kaf-arab.fina</key>
  <string>kaf-arab.fina.glif</string>
  <key>kaf-arab.init</key>
  <string>kaf-arab.init.glif</string>
  <key>kaf-arab.isol</key>
  <string>kaf-arab.isol.glif</string>
  <key>kaf-arab.medi</key>
  <string>kaf-arab.medi.glif</string>
  <key>kasra-arab.medi</key>
  <string>kasra-arab.medi.glif</string>
  <key>keheh-arab</key>
  <string>keheh-arab.glif</string>
  <key>keheh-arab.fina</key>
  <string>keheh-arab.fina.glif</string>
  <key>keheh-arab.init</key>
  <string>keheh-arab.init.glif</string>
  <key>keheh-arab.isol</key>
  <string>keheh-arab.isol.glif</string>
  <key>keheh-arab.medi</key>
  <string>keheh-arab.medi.glif</string>
  <key>khah-arab</key>
  <string>khah-arab.glif</string>
  <key>khah-arab.fina</key>
  <string>khah-arab.fina.glif</string>
  <key>khah-arab.init</key>
  <string>khah-arab.init.glif</string>
  <key>khah-arab.medi</key>
  <string>khah-arab.medi.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lam-arab</key>
  <string>lam-arab.glif</string>
  <key>lam-arab.fina</key>
  <string>lam-arab.fina.glif</string>
  <key>lam-arab.init</key>
  <string>lam-arab.init.glif</string>
  <key>lam-arab.medi</key>
  <string>lam-arab.medi.glif</string>
  <key>lamalef-arab.fina</key>
  <string>lamalef-arab.fina.glif</string>
  <key>lamalef-arab.isol</key>
  <string>lamalef-arab.isol.glif</string>
  <key>lamalefhamzaabove-arab.fina</key>
  <string>lamalefhamzaabove-arab.fina.glif</string>
  <key>lamalefhamzaabove-arab.isol</key>
  <string>lamalefhamzaabove-arab.isol.glif</string>
  <key>lamalefhamzabelow-arab.fina</key>
  <string>lamalefhamzabelow-arab.fina.glif</string>
  <key>lamalefhamzabelow-arab.isol</key>
  <string>lamalefhamzabelow-arab.isol.glif</string>
  <key>lamalefmaddaabove-arab.fina</key>
  <string>lamalefmaddaabove-arab.fina.glif</string>
  <key>lamalefmaddaabove-arab.isol</key>
  <string>lamalefmaddaabove-arab.isol.glif</string>
  <key>lefttorightembedding</key>
  <string>lefttorightembedding.glif</string>
  <key>lefttorightmark</key>
  <string>lefttorightmark.glif</string>
  <key>lefttorightoverride</key>
  <string>lefttorightoverride.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>meem-arab</key>
  <string>meem-arab.glif</string>
  <key>meem-arab.fina</key>
  <string>meem-arab.fina.glif</string>
  <key>meem-arab.init</key>
  <string>meem-arab.init.glif</string>
  <key>meem-arab.medi</key>
  <string>meem-arab.medi.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>musicsharpsign</key>
  <string>musicsharpsign.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>noon-arab</key>
  <string>noon-arab.glif</string>
  <key>noon-arab.fina</key>
  <string>noon-arab.fina.glif</string>
  <key>noon-arab.init</key>
  <string>noon-arab.init.glif</string>
  <key>noon-arab.medi</key>
  <string>noon-arab.medi.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>objectreplacementcharacter</key>
  <string>objectreplacementcharacter.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ornateparenleft</key>
  <string>ornateparenleft.glif</string>
  <key>ornateparenright</key>
  <string>ornateparenright.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>peh-arab</key>
  <string>peh-arab.glif</string>
  <key>peh-arab.fina</key>
  <string>peh-arab.fina.glif</string>
  <key>peh-arab.init</key>
  <string>peh-arab.init.glif</string>
  <key>peh-arab.isol</key>
  <string>peh-arab.isol.glif</string>
  <key>peh-arab.medi</key>
  <string>peh-arab.medi.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>percentsign-arab</key>
  <string>percentsign-arab.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>popdirectionalformatting</key>
  <string>popdirectionalformatting.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>qaf-arab</key>
  <string>qaf-arab.glif</string>
  <key>qaf-arab.fina</key>
  <string>qaf-arab.fina.glif</string>
  <key>qaf-arab.init</key>
  <string>qaf-arab.init.glif</string>
  <key>qaf-arab.medi</key>
  <string>qaf-arab.medi.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>reh-arab</key>
  <string>reh-arab.glif</string>
  <key>reh-arab.fina</key>
  <string>reh-arab.fina.glif</string>
  <key>righttoleftembedding</key>
  <string>righttoleftembedding.glif</string>
  <key>righttoleftmark</key>
  <string>righttoleftmark.glif</string>
  <key>righttoleftoverride</key>
  <string>righttoleftoverride.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sad-arab</key>
  <string>sad-arab.glif</string>
  <key>sad-arab.fina</key>
  <string>sad-arab.fina.glif</string>
  <key>sad-arab.init</key>
  <string>sad-arab.init.glif</string>
  <key>sad-arab.medi</key>
  <string>sad-arab.medi.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>seen-arab</key>
  <string>seen-arab.glif</string>
  <key>seen-arab.fina</key>
  <string>seen-arab.fina.glif</string>
  <key>seen-arab.init</key>
  <string>seen-arab.init.glif</string>
  <key>seen-arab.medi</key>
  <string>seen-arab.medi.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>shadda-arab.medi</key>
  <string>shadda-arab.medi.glif</string>
  <key>shaddaalef-arab.isol</key>
  <string>shaddaalef-arab.isol.glif</string>
  <key>shaddadamma-arab.isol</key>
  <string>shaddadamma-arab.isol.glif</string>
  <key>shaddadamma-arab.medi</key>
  <string>shaddadamma-arab.medi.glif</string>
  <key>shaddadammatan-arab.isol</key>
  <string>shaddadammatan-arab.isol.glif</string>
  <key>shaddafatha-arab.isol</key>
  <string>shaddafatha-arab.isol.glif</string>
  <key>shaddafatha-arab.medi</key>
  <string>shaddafatha-arab.medi.glif</string>
  <key>shaddakasra-arab.isol</key>
  <string>shaddakasra-arab.isol.glif</string>
  <key>shaddakasra-arab.medi</key>
  <string>shaddakasra-arab.medi.glif</string>
  <key>shaddakasratan-arab.isol</key>
  <string>shaddakasratan-arab.isol.glif</string>
  <key>sheen-arab</key>
  <string>sheen-arab.glif</string>
  <key>sheen-arab.fina</key>
  <string>sheen-arab.fina.glif</string>
  <key>sheen-arab.init</key>
  <string>sheen-arab.init.glif</string>
  <key>sheen-arab.medi</key>
  <string>sheen-arab.medi.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>smallhighmaddacomb-arab</key>
  <string>smallhighmaddacomb-arab.glif</string>
  <key>smallhighroundedzerocomb-arab</key>
  <string>smallhighroundedzerocomb-arab.glif</string>
  <key>smallhighuprightrectangularzerocomb-arab</key>
  <string>smallhighuprightrectangularzerocomb-arab.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>sukun-arab.medi</key>
  <string>sukun-arab.medi.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tah-arab</key>
  <string>tah-arab.glif</string>
  <key>tah-arab.fina</key>
  <string>tah-arab.fina.glif</string>
  <key>tah-arab.init</key>
  <string>tah-arab.init.glif</string>
  <key>tah-arab.medi</key>
  <string>tah-arab.medi.glif</string>
  <key>tatweelfathatanabove-arab.medi</key>
  <string>tatweelfathatanabove-arab.medi.glif</string>
  <key>tcheh-arab</key>
  <string>tcheh-arab.glif</string>
  <key>tcheh-arab.fina</key>
  <string>tcheh-arab.fina.glif</string>
  <key>tcheh-arab.init</key>
  <string>tcheh-arab.init.glif</string>
  <key>tcheh-arab.isol</key>
  <string>tcheh-arab.isol.glif</string>
  <key>tcheh-arab.medi</key>
  <string>tcheh-arab.medi.glif</string>
  <key>teh-arab</key>
  <string>teh-arab.glif</string>
  <key>teh-arab.fina</key>
  <string>teh-arab.fina.glif</string>
  <key>teh-arab.init</key>
  <string>teh-arab.init.glif</string>
  <key>teh-arab.medi</key>
  <string>teh-arab.medi.glif</string>
  <key>tehmarbuta-arab</key>
  <string>tehmarbuta-arab.glif</string>
  <key>tehmarbutagoal-arab</key>
  <string>tehmarbutagoal-arab.glif</string>
  <key>thal-arab</key>
  <string>thal-arab.glif</string>
  <key>thal-arab.fina</key>
  <string>thal-arab.fina.glif</string>
  <key>theh-arab</key>
  <string>theh-arab.glif</string>
  <key>theh-arab.fina</key>
  <string>theh-arab.fina.glif</string>
  <key>theh-arab.init</key>
  <string>theh-arab.init.glif</string>
  <key>theh-arab.medi</key>
  <string>theh-arab.medi.glif</string>
  <key>thousandsseparator-arab</key>
  <string>thousandsseparator-arab.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhamzaabove-arab</key>
  <string>uhamzaabove-arab.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uniE820</key>
  <string>uniE_820.glif</string>
  <key>uniE821</key>
  <string>uniE_821.glif</string>
  <key>uniE822</key>
  <string>uniE_822.glif</string>
  <key>uniE823</key>
  <string>uniE_823.glif</string>
  <key>uniE824</key>
  <string>uniE_824.glif</string>
  <key>uniE825</key>
  <string>uniE_825.glif</string>
  <key>uniE826</key>
  <string>uniE_826.glif</string>
  <key>uniE827</key>
  <string>uniE_827.glif</string>
  <key>uniE828</key>
  <string>uniE_828.glif</string>
  <key>uniE829</key>
  <string>uniE_829.glif</string>
  <key>uniE82A</key>
  <string>uniE_82A_.glif</string>
  <key>uniE82B</key>
  <string>uniE_82B_.glif</string>
  <key>uniE82C</key>
  <string>uniE_82C_.glif</string>
  <key>uniE82D</key>
  <string>uniE_82D_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>waw-arab</key>
  <string>waw-arab.glif</string>
  <key>waw-arab.fina</key>
  <string>waw-arab.fina.glif</string>
  <key>wawhamzaabove-arab</key>
  <string>wawhamzaabove-arab.glif</string>
  <key>wawhamzaabove-arab.fina</key>
  <string>wawhamzaabove-arab.fina.glif</string>
  <key>whitebullet</key>
  <string>whitebullet.glif</string>
  <key>whitesmallsquare</key>
  <string>whitesmallsquare.glif</string>
  <key>whitesquare</key>
  <string>whitesquare.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yeh-arab</key>
  <string>yeh-arab.glif</string>
  <key>yeh-arab.fina</key>
  <string>yeh-arab.fina.glif</string>
  <key>yeh-arab.init</key>
  <string>yeh-arab.init.glif</string>
  <key>yeh-arab.isol</key>
  <string>yeh-arab.isol.glif</string>
  <key>yehhamzaabove-arab</key>
  <string>yehhamzaabove-arab.glif</string>
  <key>yehhamzaabove-arab.fina</key>
  <string>yehhamzaabove-arab.fina.glif</string>
  <key>yehhamzaabove-arab.init</key>
  <string>yehhamzaabove-arab.init.glif</string>
  <key>yehhamzaabove-arab.medi</key>
  <string>yehhamzaabove-arab.medi.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yu-arab</key>
  <string>yu-arab.glif</string>
  <key>yu-arab.fina</key>
  <string>yu-arab.fina.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zah-arab</key>
  <string>zah-arab.glif</string>
  <key>zah-arab.fina</key>
  <string>zah-arab.fina.glif</string>
  <key>zah-arab.init</key>
  <string>zah-arab.init.glif</string>
  <key>zah-arab.medi</key>
  <string>zah-arab.medi.glif</string>
  <key>zain-arab</key>
  <string>zain-arab.glif</string>
  <key>zain-arab.fina</key>
  <string>zain-arab.fina.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zerowidthnobreakspace</key>
  <string>zerowidthnobreakspace.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
</dict>
</plist>
