<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>acircumflex</string>
    <string>agrave</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>idieresis</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>ocircumflex</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>arabicfathatancomb</string>
    <string>arabicdammatancomb</string>
    <string>arabickasratancomb</string>
    <string>arabicfathacomb</string>
    <string>arabicdammacomb</string>
    <string>arabickasracomb</string>
    <string>arabicshaddacomb</string>
    <string>arabicsukuncomb</string>
    <string>arabicmaddahcomb</string>
    <string>arabichamzacomb</string>
    <string>arabichamzabelowcomb</string>
    <string>alefcomb-arab</string>
    <string>arabicalefcomb</string>
    <string>uniE820</string>
    <string>uniE821</string>
    <string>uniE822</string>
    <string>uniE823</string>
    <string>uniE824</string>
    <string>uniE825</string>
    <string>uniE826</string>
    <string>uniE827</string>
    <string>uniE828</string>
    <string>uniE829</string>
    <string>uniE82A</string>
    <string>uniE82B</string>
    <string>uniE82C</string>
    <string>uniE82D</string>
    <string>arabicshaddacomb_arabicfathatancomb.ccmp</string>
    <string>shaddadammatan-arab.isol</string>
    <string>shaddakasratan-arab.isol</string>
    <string>shaddafatha-arab.isol</string>
    <string>shaddadamma-arab.isol</string>
    <string>shaddakasra-arab.isol</string>
    <string>shaddaalef-arab.isol</string>
    <string>fathatan-arab.isol</string>
    <string>circumflexmod</string>
    <string>arabictatweelmod</string>
    <string>asciicircum</string>
    <string>grave</string>
    <string>macron</string>
    <string>acute</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>arabicindiczero-arab</string>
    <string>arabicindicone-arab</string>
    <string>arabicindictwo-arab</string>
    <string>arabicindicthree-arab</string>
    <string>arabicindicfour-arab</string>
    <string>arabicindicfive-arab</string>
    <string>arabicindicsix-arab</string>
    <string>arabicindicseven-arab</string>
    <string>arabicindiceight-arab</string>
    <string>arabicindicnine-arab</string>
    <string>extendedarabicindiczero-arab</string>
    <string>extendedarabicindicone-arab</string>
    <string>extendedarabicindictwo-arab</string>
    <string>extendedarabicindicthree-arab</string>
    <string>extendedarabicindicfour-arab</string>
    <string>extendedarabicindicfive-arab</string>
    <string>extendedarabicindicsix-arab</string>
    <string>extendedarabicindicseven-arab</string>
    <string>extendedarabicindiceight-arab</string>
    <string>extendedarabicindicnine-arab</string>
    <string>hamza-arab</string>
    <string>alef-arab</string>
    <string>alefhamzaabove-arab</string>
    <string>alefhamzabelow-arab</string>
    <string>alefmaddaabove-arab</string>
    <string>beh-arab</string>
    <string>tehmarbuta-arab</string>
    <string>teh-arab</string>
    <string>theh-arab</string>
    <string>jeem-arab</string>
    <string>hah-arab</string>
    <string>khah-arab</string>
    <string>dal-arab</string>
    <string>thal-arab</string>
    <string>reh-arab</string>
    <string>zain-arab</string>
    <string>seen-arab</string>
    <string>sheen-arab</string>
    <string>sad-arab</string>
    <string>dad-arab</string>
    <string>tah-arab</string>
    <string>zah-arab</string>
    <string>ain-arab</string>
    <string>ghain-arab</string>
    <string>farsiyehinvertedv-arab</string>
    <string>feh-arab</string>
    <string>qaf-arab</string>
    <string>kaf-arab</string>
    <string>lam-arab</string>
    <string>meem-arab</string>
    <string>noon-arab</string>
    <string>heh-arab</string>
    <string>waw-arab</string>
    <string>wawhamzaabove-arab</string>
    <string>alefmaksura-arab</string>
    <string>yeh-arab</string>
    <string>yehhamzaabove-arab</string>
    <string>alefwavyhamzaabove-arab</string>
    <string>alefwavyhamzabelow-arab</string>
    <string>highhamzaalef-arab</string>
    <string>highhamzawaw-arab</string>
    <string>uhamzaabove-arab</string>
    <string>highhamzayeh-arab</string>
    <string>peh-arab</string>
    <string>hahhamzaabove-arab</string>
    <string>tcheh-arab</string>
    <string>jeh-arab</string>
    <string>dotlessfeh-arab</string>
    <string>keheh-arab</string>
    <string>gaf-arab</string>
    <string>hehdoachashmee-arab</string>
    <string>hehgoal-arab</string>
    <string>hehgoalhamzaabove-arab</string>
    <string>tehmarbutagoal-arab</string>
    <string>yu-arab</string>
    <string>farsiyeh-arab</string>
    <string>ae-arab</string>
    <string>hehyehabove-arab</string>
    <string>alefwavyhamzaabove-arab.fina</string>
    <string>alefwavyhamzabelow-arab.fina</string>
    <string>highhamzaalef-arab.fina</string>
    <string>highhamzawaw-arab.fina</string>
    <string>highhamzayeh-arab.fina</string>
    <string>hahhamzaabove-arab.fina</string>
    <string>peh-arab.fina</string>
    <string>tcheh-arab.fina</string>
    <string>jeh-arab.fina</string>
    <string>keheh-arab.fina</string>
    <string>gaf-arab.fina</string>
    <string>hehyehabove-arab.fina</string>
    <string>hehdoachashmee-arab.fina</string>
    <string>yu-arab.fina</string>
    <string>farsiyeh-arab.fina</string>
    <string>alefmaddaabove-arab.fina</string>
    <string>alefhamzaabove-arab.fina</string>
    <string>wawhamzaabove-arab.fina</string>
    <string>alefhamzabelow-arab.fina</string>
    <string>yehhamzaabove-arab.fina</string>
    <string>alef-arab.fina</string>
    <string>beh-arab.fina</string>
    <string>teh-arab.fina</string>
    <string>theh-arab.fina</string>
    <string>jeem-arab.fina</string>
    <string>hah-arab.fina</string>
    <string>khah-arab.fina</string>
    <string>dal-arab.fina</string>
    <string>thal-arab.fina</string>
    <string>reh-arab.fina</string>
    <string>zain-arab.fina</string>
    <string>seen-arab.fina</string>
    <string>sheen-arab.fina</string>
    <string>sad-arab.fina</string>
    <string>dad-arab.fina</string>
    <string>tah-arab.fina</string>
    <string>zah-arab.fina</string>
    <string>ain-arab.fina</string>
    <string>ghain-arab.fina</string>
    <string>feh-arab.fina</string>
    <string>qaf-arab.fina</string>
    <string>kaf-arab.fina</string>
    <string>lam-arab.fina</string>
    <string>meem-arab.fina</string>
    <string>noon-arab.fina</string>
    <string>heh-arab.fina</string>
    <string>waw-arab.fina</string>
    <string>yeh-arab.fina</string>
    <string>lamalefmaddaabove-arab.fina</string>
    <string>lamalefhamzaabove-arab.fina</string>
    <string>lamalefhamzabelow-arab.fina</string>
    <string>lamalef-arab.fina</string>
    <string>peh-arab.init</string>
    <string>tcheh-arab.init</string>
    <string>keheh-arab.init</string>
    <string>gaf-arab.init</string>
    <string>hehdoachashmee-arab.init</string>
    <string>farsiyeh-arab.init</string>
    <string>yehhamzaabove-arab.init</string>
    <string>beh-arab.init</string>
    <string>teh-arab.init</string>
    <string>theh-arab.init</string>
    <string>jeem-arab.init</string>
    <string>hah-arab.init</string>
    <string>khah-arab.init</string>
    <string>seen-arab.init</string>
    <string>sheen-arab.init</string>
    <string>sad-arab.init</string>
    <string>dad-arab.init</string>
    <string>tah-arab.init</string>
    <string>zah-arab.init</string>
    <string>ain-arab.init</string>
    <string>ghain-arab.init</string>
    <string>feh-arab.init</string>
    <string>qaf-arab.init</string>
    <string>kaf-arab.init</string>
    <string>lam-arab.init</string>
    <string>meem-arab.init</string>
    <string>noon-arab.init</string>
    <string>heh-arab.init</string>
    <string>yeh-arab.init</string>
    <string>peh-arab.isol</string>
    <string>tcheh-arab.isol</string>
    <string>keheh-arab.isol</string>
    <string>gaf-arab.isol</string>
    <string>hehyehabove-arab.isol</string>
    <string>hehgoal-arab.isol</string>
    <string>alefmaksuraalef-arab.isol</string>
    <string>allah-arab.isol</string>
    <string>hamza-arab.isol</string>
    <string>alef-arab.isol</string>
    <string>kaf-arab.isol</string>
    <string>heh-arab.isol</string>
    <string>alefmaksura-arab.isol</string>
    <string>yeh-arab.isol</string>
    <string>lamalefmaddaabove-arab.isol</string>
    <string>lamalefhamzaabove-arab.isol</string>
    <string>lamalefhamzabelow-arab.isol</string>
    <string>lamalef-arab.isol</string>
    <string>peh-arab.medi</string>
    <string>tcheh-arab.medi</string>
    <string>keheh-arab.medi</string>
    <string>gaf-arab.medi</string>
    <string>hehgoal-arab.medi</string>
    <string>hehdoachashmee-arab.medi</string>
    <string>farsiyeh-arab.medi</string>
    <string>shaddafatha-arab.medi</string>
    <string>shaddadamma-arab.medi</string>
    <string>shaddakasra-arab.medi</string>
    <string>tatweelfathatanabove-arab.medi</string>
    <string>fatha-arab.medi</string>
    <string>damma-arab.medi</string>
    <string>kasra-arab.medi</string>
    <string>shadda-arab.medi</string>
    <string>sukun-arab.medi</string>
    <string>yehhamzaabove-arab.medi</string>
    <string>beh-arab.medi</string>
    <string>teh-arab.medi</string>
    <string>theh-arab.medi</string>
    <string>jeem-arab.medi</string>
    <string>hah-arab.medi</string>
    <string>khah-arab.medi</string>
    <string>seen-arab.medi</string>
    <string>sheen-arab.medi</string>
    <string>sad-arab.medi</string>
    <string>dad-arab.medi</string>
    <string>tah-arab.medi</string>
    <string>zah-arab.medi</string>
    <string>ain-arab.medi</string>
    <string>ghain-arab.medi</string>
    <string>feh-arab.medi</string>
    <string>qaf-arab.medi</string>
    <string>kaf-arab.medi</string>
    <string>lam-arab.medi</string>
    <string>meem-arab.medi</string>
    <string>noon-arab.medi</string>
    <string>heh-arab.medi</string>
    <string>smallhighroundedzerocomb-arab</string>
    <string>smallhighuprightrectangularzerocomb-arab</string>
    <string>smallhighmaddacomb-arab</string>
    <string>dateseparator-arab</string>
    <string>percentsign-arab</string>
    <string>decimalseparator-arab</string>
    <string>thousandsseparator-arab</string>
    <string>fivepointedstar-arab</string>
    <string>fullstop-arab</string>
    <string>mu</string>
    <string>underscore</string>
    <string>hyphenminus</string>
    <string>endash</string>
    <string>emdash</string>
    <string>parenleft</string>
    <string>bracketleft</string>
    <string>braceleft</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>ornateparenright</string>
    <string>parenright</string>
    <string>bracketright</string>
    <string>braceright</string>
    <string>ornateparenleft</string>
    <string>guillemetleft</string>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>guilsinglleft</string>
    <string>guillemetright</string>
    <string>quoteright</string>
    <string>quotedblright</string>
    <string>guilsinglright</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>asterisk</string>
    <string>comma</string>
    <string>period</string>
    <string>slash</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>question</string>
    <string>at</string>
    <string>backslash</string>
    <string>section</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>arabiccomma</string>
    <string>arabicsemicolon</string>
    <string>arabicquestionmark</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>plus</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>bar</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>plusminus</string>
    <string>multiply</string>
    <string>divide</string>
    <string>fraction</string>
    <string>minus</string>
    <string>bulletoperator</string>
    <string>musicsharpsign</string>
    <string>dollar</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>copyright</string>
    <string>registered</string>
    <string>degree</string>
    <string>trademark</string>
    <string>whitesquare</string>
    <string>blacksmallsquare</string>
    <string>whitesmallsquare</string>
    <string>lozenge</string>
    <string>dottedcircle</string>
    <string>blackcircle</string>
    <string>whitebullet</string>
    <string>objectreplacementcharacter</string>
    <string>nbspace</string>
    <string>zwnj</string>
    <string>zwj</string>
    <string>lefttorightmark</string>
    <string>righttoleftmark</string>
    <string>righttoleftembedding</string>
    <string>popdirectionalformatting</string>
    <string>lefttorightoverride</string>
    <string>lefttorightembedding</string>
    <string>righttoleftoverride</string>
    <string>zerowidthspace</string>
    <string>zerowidthnobreakspace</string>
  </array>
</dict>
</plist>
